<!DOCTYPE HTML>
<html>
	<head>
		<title>Add Category</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/styles/main.css" />
		<noscript><link rel="stylesheet" href="static/styles/noscript.css" /></noscript>
	</head>
	<body class="left-sidebar is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header">

					<!-- Inner -->
						<div class="inner">
							<header>
								<h1><a id="logo">Add Category</a></h1>
							</header>
						</div>

					<!-- Nav -->
          <nav id="nav">
			<ul>
				<li><a href="{{ url_for('home_page') }}">Home</a></li>
				<li><a href="{{ url_for('create_new_item') }}">Add Item</a></li>
				<li><a href="{{ url_for('create_new_category') }}">Add Category</a></li>
				<li><a href="All_Items.html">All Items</a></li>
			  </ul>
          </nav>

      </div>
				</div>

			<!-- Main -->
			<form>

				<div class="segment">
				  <h1>Add Category</h1>
				</div>

				<select name = "AddArea">
				   <option value = "Living Room" selected>Living Room</option>
				   <option value = "Dining Room" selected>Dining Room</option>
				   <option value = "Study Room" selected>Study Room</option>
				</select>
				<label><input type="text" name="location" placeholder="Add Location"/> </label>

				<button class="red" type="submit" formmethod="post"><i class="icon ion-md-lock"></i>Add</button>



			  </form>

		<!-- Scripts -->
			<script src="static/js/jquery.min.js"></script>
			<script src="static/js/jquery.dropotron.min.js"></script>
			<script src="static/js/jquery.scrolly.min.js"></script>
			<script src="static/js/jquery.scrollex.min.js"></script>
			<script src="static/js/browser.min.js"></script>
			<script src="static/js/breakpoints.min.js"></script>
			<script src="static/js/util.js"></script>
			<script src="static/js/main.js"></script>

	</body>
</html>
