<!DOCTYPE HTML>
<html>
	<head>
		<title>Add Item</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/css/main.css" />
		<noscript><link rel="stylesheet" href="static/css/noscript.css" /></noscript>
	</head>
	<body class="no-sidebar is-preload">
		<div id="page-wrapper">
			<!-- Header -->
			<div id="header">
				<!-- Nav -->
				<nav id="nav">
					<ul>
						<li><a href="index.html">Home</a></li>
						<li><a href="AddItem.html">Add Item</a></li>
						<li><a href="AddCategory.html">Add Category</a></li>
						<li><a href="All_Items.html">All Items</a></li>
					</ul>
				</nav>
			</div>
		</div>
		<!-- Main -->
		<div class="wrapper style1">

			<div class="container">
				<div class="row gtr-200">
					<div class="col-8 col-12-mobile" id="content">
						<article id="main">
							<header>
								<h2><a href="#">#TITLE</a></h2>
								<p>
									Main category / Sub Category
								</p>
							</header>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
						</article>
					</div>
					<div class="col-4 col-12-mobile" id="sidebar">
						<hr class="first" />
						<section>
							<h3>Tags</h3> <p>#Dolor #sed #fringilla #nibh #nulla</p>
							<p>Description Here....</p>
						</section>
						<hr />
						<style>
							.dropdown-content {
							  display: none; position: absolute; background-color: #f1f1f1;  min-width: 350px; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); z-index: 1;
							}
							.dropdown-content a { color: black; padding: 12px 16px; text-decoration: none; display: block;
							}
							.dropdown:hover .dropdown-content {display: block;}
						</style>
						<div class="dropdown">
							<button class="red" type="button">Perform Actions</button>
							<div class="dropdown-content">
								<a href="#">Update Item</a>
								<a href="#">Remove Item</a>
								<a href="#">Sell Item</a>
								<a href="#">Donate Item</a>
							</div>
						</div>
					</div>
				</div>

				<hr />

				<h3 style="margin-bottom: 30px;">Related Items You Own</h3>
				<div class="row">
					<article class="col-4 col-12-mobile special">
						<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
						<header>
							<h3><a href="#">Gravida aliquam penatibus</a></h3>
						</header>
						<p>
							Amet nullam fringilla nibh nulla convallis tique ante proin sociis accumsan lobortis. Auctor etiam
							porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum consequat integer interdum.
						</p>
					</article>
					<article class="col-4 col-12-mobile special">
						<a href="#" class="image featured"><img src="images/pic02.jpg" alt="" /></a>
						<header>
							<h3><a href="#">Sed quis rhoncus placerat</a></h3>
						</header>
						<p>
							Amet nullam fringilla nibh nulla convallis tique ante proin sociis accumsan lobortis. Auctor etiam
							porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum consequat integer interdum.
						</p>
					</article>
					<article class="col-4 col-12-mobile special">
						<a href="#" class="image featured"><img src="images/pic03.jpg" alt="" /></a>
						<header>
							<h3><a href="#">Magna laoreet et aliquam</a></h3>
						</header>
						<p>
							Amet nullam fringilla nibh nulla convallis tique ante proin sociis accumsan lobortis. Auctor etiam
							porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum consequat integer interdum.
						</p>
					</article>
				</div>
			</div>

		</div>




		<!-- Scripts -->
			<script src="static/js/jquery.min.js"></script>
			<script src="static/js/jquery.dropotron.min.js"></script>
			<script src="static/js/jquery.scrolly.min.js"></script>
			<script src="static/js/jquery.scrollex.min.js"></script>
			<script src="static/js/browser.min.js"></script>
			<script src="static/js/breakpoints.min.js"></script>
			<script src="static/js/util.js"></script>
			<script src="static/js/main.js"></script>

	</body>
</html>
